<h1>Reporte de Productos de {{ proveedor.nombre }}</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Código de Barras</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.precio }}</td>
      <td>{{ producto.codigo_barras }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'lista_proveedores' %}">Volver a la lista de proveedores</a>
